cmasher
jupyter
pandas
pillow
pyarrow
requests
scipy
seaborn
sphinx
sphinx-gallery
sphinx-rtd-theme
sphinx-togglebutton
matplotlib
numpy
scikit-learn
linkify-it-py
xgboost
pyreadstat
termcolor

# Pip-specific packages
setuptools
lxml
adjustText
highlight-text
sphinxcontrib-youtube
myst-parser
ffmpeg
